.htaccess
config.php
/sql/*.sql
/sql/latest.md5
/log/*
!/log/.gitkeep
!/sql/schema.sql
!/sql/update*.sql
/cache/*
!/cache/.gitkeep
!/cache/pages/.gitkeep
!/cache/api/.gitkeep
!/cache/.htaccess
/cache/pages/*
!/cache/pages/.gitkeep
/cache/mails/*
!/cache/mails/.gitkeep
/dev
/dev/*
