<?php
//MYSQL credentials
define('DB_HOST', 'localhost');
define('DB_NAME', '');
define('DB_USER', '');
define('DB_PASS', '');

//Sitename which appears e.g. in page titles
define('SITE_NAME', 'Spacemail');
//cookieid, helpful when running multiple instances
define('COOKIE_ID', 'spacemail');

define('DEBUG_LOG', False);

//Cache method, not yet used
define('CACHE_METHOD', 'file');

//your eve developer ID and secret
define('ESI_ID', '');
define('ESI_SECRET', '');

//random salt
define('ESI_SALT', 'random_alphanumeric_string');

define('ESI_USER_AGENT', 'spacemail.xyz ESI client');

//Extra cache time (in addition to esis normal expiry) in seconds
define('ESI_EXTRA_CACHE', 30);

//administrators, you can use associative arrays to keep track
define('ADMINS', serialize(array("Snitch" => 90976676,)));

//minimal scopes on first login, additional scopes will be requested as needed
define('MINIMAL_SCOPES', serialize(array('esi-mail.read_mail.v1', 'esi-mail.organize_mail.v1'
)));
?>
